---
---

@import "{{ site.theme }}";
a {
    color: #cd5c5c; //indianred
    text-decoration: none
}

a:hover,
a:focus {
  color: #cd5c5c; //indianred
  text-decoration: underline;
  font-weight: inherit;
}

h1 a {
  color: inherit !important;
  text-decoration: none;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block
}

a:hover small {
    color: #777
}

section {
  border: none;
}

footer {
  font-size: .9em;
}

footer p {
  margin-bottom: 8px;
}
