<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header>

        {% if page.logo or site.logo %}
        <a href="{{ page.titlelink | default: "/" | absolute_url }}" target="{{ page.titlelink ? '_blank' : '_self' }}">
        <img src="{{page.logo | default: site.logo | relative_url}}" alt="Logo" />
        </a>
        {% else %}
        <h1><a href="{{ "/" | absolute_url }}">
            {{ page.title | default: site.title }}
        </a></h1>
        {% endif %}

        <p>{{ page.description | default: site.description }}</p>
        {% if page.subdescription %}
        <p>{{ page.subdescription }}</p>
        {% endif %}

        <p class="view"><a href="">
          Сменник <small>управление расписанием персонала</small>
        </a></p>
        <p class="view"><a target="_blank" href="/deeplink?to=t.me/kofevino_bot">
          Телеграм-бот для Кофе Вино
        </a></p>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p>По любым вопросам обращайтесь <a href="https://instagram.com/lek.sei" target="_blank">к&nbsp;Алексею в директ</a></p>
        <p><small>+7(999)7008007</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     ga('create', '{{ site.google_analytics }}', 'auto');
     ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
